# This env file is for docker compose that combines env vars of all services

### Backend service

ENVIRONMENT=development

DATABASE_USER=db_user
DATABASE_HOST=postgres-db
DATABASE_PORT=5432
DATABASE_DB=db_dbname
DATABASE_PASS=db_password

LLM_GATEWAY_URL=http://llmgen:8001
LLM_GATEWAY_TIMEOUT=95

JWT_SECRET_KEY=your-secret-key-here

### Postgres DB service

POSTGRES_DB=db_dbname
POSTGRES_USER=db_user
POSTGRES_PASSWORD=db_password

### LLM Generation service
LLM_PROVIDER=gemini
LLM_MODEL=gemini_model
GEMINI_API_KEY=gemini_api_key
